<a href="https://colab.research.google.com/github/mrsureshadapa/AIML/blob/main/Python_Basics_2.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [4]:
#Usage of if-elif-else block
marks = input("Enter the marks")
marks = int(marks)# Value accepted from keyboard is considered as a string and comparison operators do not work between str and int
#marks = 49
if marks >= 60:
  print("First Class")
elif marks >= 50:
  print("Second Class")
elif marks >= 40:
  print("Third Class")
else:
  print("Failed")

Third Class

In [11]:
#Printing the value of a variable in a format string
val1 = int(input("Enter a number:"))
if val1%2 == 0:
  print("{} is an even number:".format(val1))
else:
  print("{} is an odd number".format(val1))

Enter a number:34
34 is an even number:

In [14]:
#Usage of pass when there are no statements to be executed
val1 = 48
if val1%5==0:
  pass
elif val1%7==0:
  print("{} is divisible by 7 but not divisible by 5".format(val1))
else:
  print("{} is not divisible by 7 nor divisible by 5".format(val1))

48 is not divisible by 7 nor divisible by 5

In [16]:
#Example of while loop
#print numbers from 1 to 10
%%time #gives the time taken by the cell to execute
i=1 
while i<=10:
  print(i, end=" ")
  i+=1

1 2 3 4 5 6 7 8 9 10 CPU times: user 558 µs, sys: 82 µs, total: 640 µs
Wall time: 611 µs

In [2]:
#Example of usage of break, continue
i=0
while i<=10:
  i+=1
  if i<6:
    continue
  elif i>8:
    break
  else:
    print(i, end=" ")

6 7 8

In [3]:
#Iteration with for loops
days = ['Monday', 'Tuesday', 'Wednesday', 'Thursday', 'Friday']
for day in days:
  print(day)

Monday
Tuesday
Wednesday
Thursday
Friday

In [4]:
#Looping over a tuple
for day in ['Monday', 'Tuesday', 'Wednesday', 'Thursday', 'Friday']:
  print(day)

Monday
Tuesday
Wednesday
Thursday
Friday

In [5]:
# Looping over a string
for char in 'Monday':
    print(char)

M
o
n
d
a
y

In [8]:
# Looping over a dictionary using key
person = {
    'name': 'John Doe',
    'sex': 'Male',
    'age': 32,
    'married': True
}
for key in person:
  print("Key:", key, ", ""Value:", person[key])

Key: name , Value: John Doe
Key: sex , Value: Male
Key: age , Value: 32
Key: married , Value: True

In [13]:
# Looping over a dictionary using keys and values functions
person = {
    'name': 'John Doe',
    'sex': 'Male',
    'age': 32,
    'married': True
}
print("Values:")
for value in person.values():
  print(value)

print("Keys:")
for key in person.keys():
  print(key)

Values:
John Doe
Male
32
True
Keys:
name
sex
age
married

In [15]:
# Looping over a dictionary using items function
person = {
    'name': 'John Doe',
    'sex': 'Male',
    'age': 32,
    'married': True
}

print("Key and Value combined")
for key_value in person.items():
  print(key_value)

print("Key and Value seperately")
for key,value in person.items():
  print("Key:", key, ",", "Value:", value)

Key and Value combined
('name', 'John Doe')
('sex', 'Male')
('age', 32)
('married', True)
Key and Value seperately
Key: name , Value: John Doe
Key: sex , Value: Male
Key: age , Value: 32
Key: married , Value: True

Iterating using range and enumerate
The range function is used to create a sequence of numbers that can be iterated over using a for loop. It can be used in 3 ways:

range(n) - Creates a sequence of numbers from 0 to n-1
range(a, b) - Creates a sequence of numbers from a to b-1
range(a, b, step) - Creates a sequence of numbers from a to b-1 with increments of step

In [17]:
for i in range(10):
  print(i+1, end =" ")

1 2 3 4 5 6 7 8 9 10

In [19]:
for i in range(1,11):
  print(i, end=" ")

1 2 3 4 5 6 7 8 9 10

In [20]:
print("Odd numbers from 1 to 10")
for i in range(1,11,2):
  print(i, end=" ")

Odd numbers from 1 to 10
1 3 5 7 9

In [25]:
a_list = ['Monday', 'Tuesday', 'Wednesday', 'Thursday', 'Friday']
for i in range(len(a_list)):
  print("Value at {} position is :".format(i+1), a_list[i])

Value at 1 position is : Monday
Value at 2 position is : Tuesday
Value at 3 position is : Wednesday
Value at 4 position is : Thursday
Value at 5 position is : Friday

In [28]:
for i, val in enumerate(a_list):
  print("Value at {} position is {}".format(i, val))

Value at 0 position is Monday
Value at 1 position is Tuesday
Value at 2 position is Wednesday
Value at 3 position is Thursday
Value at 4 position is Friday